.poljeNeispravno {
    -fx-control-inner-background: lightpink;
}
.poljeIspravno {
-fx-control-inner-background: lightgreen;
}
.groupBox {
          -fx-border-color: lightGrey;
          -fx-border-width: 2;
          -fx-border-radius: 2px;
    }
